@font-face {
  font-family: 'Jun';
  src: url("../static/fonts/Jun/Jun_Regular.otf") format("opentype"),
}

:root {
  --color-background: #FAF3EB;
  --color-primary: #770B22;
  --color-secondary: #787D54;
  --color-tretiary: #F8C9C9;
  --color-button: #FFE7A3;

  --wave-mask-tiny:
    radial-gradient(19.21px at 50% 27px,#000 99%,#0000 101%) calc(50% - 24px) 0/48px 51% repeat-x,
    radial-gradient(19.21px at 50% -15px,#0000 99%,#000 101%) 50% 12px/48px calc(51% - 12px) repeat-x,
    radial-gradient(19.21px at 50% calc(100% - 27px),#000 99%,#0000 101%) calc(50% - 24px) 100%/48px 51% repeat-x,
    radial-gradient(19.21px at 50% calc(100% + 15px),#0000 99%,#000 101%) 50% calc(100% - 12px)/48px calc(51% - 12px) repeat-x;

  --wave-mask-tiny-bottom:
    radial-gradient(19.21px at 50% calc(100% - 27px),#000 99%,#0000 101%) calc(50% - 24px) 100%/48px 100%,
    radial-gradient(19.21px at 50% calc(100% + 15px),#0000 99%,#000 101%) 50% calc(100% - 12px)/48px 100% repeat-x;

  --wave-mask-huge:
    radial-gradient(55.9px at 50% 75px,#000 99%,#0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(55.9px at 50% -50px,#0000 99%,#000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(55.9px at 50% calc(100% - 75px),#000 99%,#0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(55.9px at 50% calc(100% + 50px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;

  --wave-mask-huge-bottom:
    radial-gradient(55.9px at 50% calc(100% - 75px),#000 99%,#0000 101%) calc(50% - 50px) 100%/100px 100% repeat-x,
    radial-gradient(55.9px at 50% calc(100% + 50px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px 100% repeat-x;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

h1 {
  margin: 0;
  font-family: 'Jun', 'PT Serif', serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: var(--color-primary);
}

h2 {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  color: var(--color-primary);
}

a, p, span, marquee, label {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-primary);
}

button {
  padding: 16px 20px;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-background);
  background-color: var(--color-primary);
  border-width: 0;
  border-radius: 25px;
  cursor: pointer;
}

input[type="text"] {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 10px 0;
}

input[type="text"]::placeholder {
  color: var(--color-primary);
  opacity: 0.4;
}

input[type="text"]:focus-visible {
  outline: none;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  appearance: none;
}

input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="radio"]::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--color-primary);
  opacity: 0;
  transition: 0.5s;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url('../static/wedding-invitation/checkbox.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s;
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  opacity: 1;
}

.header__ticker {
  padding: 6px 0;
  color: var(--color-background);
  background-color: var(--color-primary);
}

.header__ticker span {
  color: var(--color-background);
}

.header__content-container {
  margin: -4px 0 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../static/wedding-invitation/cherkash-small.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 65%;
  overflow: hidden;
}

.header__content-container::before {
  content: '';
  position: absolute;
  width: 205px;
  height: 110px;
  top: 0;
  left: 0;
  background-image: url('../static/wedding-invitation/left-lights-stripe.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__content-container::after {
  position: absolute;
  content: '';
  width: 142px;
  height: 32px;
  top: 0;
  right: 0;
  background-image: url('../static/wedding-invitation/right-lights-stripe.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__photos {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 405px;
  height: 412px;
}

.header__event-date {
  margin: 480px auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
}

.header__envelope {
  margin: 115px auto 0;
  width: 100%;
  height: 400px;
  min-width: 374px;
  background-image: url('../static/wedding-invitation/envelope.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.envelope__text {
  margin: 86px 4px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  text-align: center;
}

.alternative-block {
  mask: var(--wave-mask-tiny);
  -webkit-mask: var(--wave-mask-tiny);
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 16px 50px;
  background-color: var(--color-primary);
}

.location__handwrite-title {
  margin: 0 auto 12px;
  width: 83px;
  height: 20px;
  background-image: url('../static/wedding-invitation/handwrite-location.svg');
}

.location__photos {
  margin: 32px auto 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 580px;
}

.location__action {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  gap: 16px;
}

.location__action button {
  color: var(--color-primary);
  background-color: var(--color-button);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 16px 90px;
  background-color: var(--color-primary);
}

.timeline__handwrite-title {
  margin: 0 auto 12px;
  width: 163px;
  height: 14px;
  background-image: url('../static/wedding-invitation/handwrite-timeline.svg');
}

.timeline__image {
  margin: 32px auto 0;
}

.timeline__image_vertical {
  width: 100%;
  max-width: 343px;
}

.timeline__image_horizontal {
  max-width: 974px;
  display: none;
}

.dress-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 0;

  background-image: url('../static/wedding-invitation/cherkash-arrow.svg');
  background-repeat: no-repeat;
  background-size: 90px 20px;
  background-position: center 41%;
  animation: cherkash-arrow-move 0.7s infinite linear alternate;

  overflow: hidden;
}

@keyframes cherkash-arrow-move {
  0% {
    background-position: 45% 41%;
  }
  100% {
    background-position: 55% 41%;
  }
}

.dress-code__colors {
  margin: 32px auto 0;
  width: 328px;
  height: 56px;
}

.dress-code__examples {
  margin: 84px auto 0;
  display: flex;
  width: 100%;
  overflow: auto hidden;
}

.dress-code__example {
  flex-shrink: 0;
  height: 258px;
}

.dress-code__action {
  margin: 32px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  cursor: pointer;
}

.location p,
.timeline p,
.dress-code p {
  margin-top: 6px;
}

.rule-set {
  padding: 150px 16px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-secondary);

  mask:
    linear-gradient(#000 0 0) exclude,
    url('../static/wedding-invitation/mask-heart-top.svg') top/contain no-repeat exclude,
    url('../static/wedding-invitation/mask-heart-bottom.svg') bottom/contain no-repeat exclude;
  -webkit-mask:
    linear-gradient(#000 0 0) exclude,
    url('../static/wedding-invitation/mask-heart-top.svg') top/contain no-repeat exclude,
    url('../static/wedding-invitation/mask-heart-bottom.svg') bottom/contain no-repeat exclude;
}

.alternative-block h1,
.alternative-block h2,
.alternative-block p,
.alternative-block span,
.rule-set h1,
.rule-set h2,
.rule-set p,
.rule-set span {
  color: var(--color-background);
}

.rule-set__rule {
  display: flex;
  flex-direction: column;
}

.rule-set__rule_gifts {
  margin-top: 32px;
}

.rule-set__rule_gifts .rule-set__handwrite-title {
  width: 124px;
  height: 36px;
  margin: 0 0 9px 15px;
  background-image: url('../static/wedding-invitation/handwrite-gifts-rules.svg');
}

.rule-set__rule_flowers {
  margin-top: 50px;
}

.rule-set__rule_flowers .rule-set__handwrite-title {
  width: 103px;
  height: 25px;
  margin: 0 15px 9px 0;
  align-self: flex-end;
  background-image: url('../static/wedding-invitation/handwrite-flowers-rules.svg');
}

.rule-set__rule_flowers p:not(:first-of-type) {
  margin-top: 12px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px 260px;
}

.contacts__description {
  margin: 6px 0 0;
  text-align: center;
}

.contacts__phone {
  margin: 12px 0 0;
}

.contacts__action {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
}

.survey__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 224px 16px 82px;
  background-color: var(--color-tretiary);
  overflow-x: clip;
}

.survey__wave {
  height: 32px;
  background-color: var(--color-tretiary);
  mask: var(--wave-mask-tiny-bottom);
  -webkit-mask: var(--wave-mask-tiny-bottom);
}

.survey__photos {
  position: absolute;
  top: -178px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 414px;
  height: 413px;
}

.survey__description {
  margin: 6px 0 0;
  text-align: center;
}

.survey__form-section {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.survey__form-control {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.survey__form {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px 100px;
}

.footer__description {
  margin: 16px 0 0;
}

@media (min-width: 580px) {
  .header__content-container {
    background-image: url('../static/wedding-invitation/cherkash-big.svg');
    background-position-y: 90%;
  }

  .alternative-block {
    mask: var(--wave-mask-huge);
    -webkit-mask: var(--wave-mask-huge);
  }

  .location__action {
    flex-direction: row;
    align-self: center;
  }

  .dress-code {
    animation: none;
  }

  .dress-code__examples {
    justify-content: center;
  }

  .dress-code__action,
  .contacts__action {
    align-self: center;
  }

  .location__action button,
  .dress-code__action button,
  .contacts__action button {
    min-width: 240px;
  }

  .rule-set {
    mask: none;
    -webkit-mask: none;
  }

  .survey__block {
    justify-content: center;
  }

  .survey__wave {
    mask: var(--wave-mask-huge-bottom);
    -webkit-mask: var(--wave-mask-huge-bottom);
  }

  .survey__form {
    min-width: 548px;
    max-width: 580px;
    align-self: center;
  }

  .survey__form button {
    min-width: 240px;
    align-self: center;
  }
}

@media (min-width: 1252px) {
  .header__content-container {
    display: grid;
    grid-template:
      "empty-one date empty-two" 6fr
      "empty-one envelope empty-two" 10fr / 2fr 1fr 1fr;
    margin-bottom: 44px;
  }

  .header__content-container::before {
    width: 308px;
    height: 165px;
  }

  .header__content-container::after {
    width: 213px;
    height: 48px;
  }

  .header__photos {
    left: 30%;
    width: 32vw;
    height: auto;
  }

  .header__event-date {
    margin-top: 210px;
    grid-area: date;
  }

  .header__envelope {
    grid-area: envelope;
  }

  .location__photos {
    flex: 1 0 0;
    flex-direction: row;
    justify-content: center;
    width: auto;
    max-height: 550px;
  }

  .location__photos img {
    flex-basis: 0;
  }

  .timeline__image_vertical {
    display: none;
  }

  .timeline__image_horizontal {
    display: block;
  }
}
